# Ignore Python virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore Tailwind CSS output
static/dist/css/output.css

# Ignore Node.js dependencies (if using Tailwind via npm)
node_modules/

# Ignore build artifacts
dist/
build/
