{% extends 'index.html'%}
{% block content%}
    <div class="size-full flex flex-col place-items-center">
        <div class="text-6xl font-semibold mt-40">
            <h1>Hello World!</h1>
        </div>
        <div class="mt-10 text-xl p-2 w-30 h-10 bg-zinc-600 flex justify-center items-center rounded-4xl text-white cursor-pointer transition ease-in hover:bg-zinc-800">
            <i class="fas fa-solid fa-sign-out p-1" ></i>
            <button onclick="logout()" class="p-1">Logout</button>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script>
        function logout(){
            document.location.href = "/logout";
        }
    </script>
{% endblock %}