<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCS Sit-in Monitoring System</title>
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/templates.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-100">
    <div>
        <div class="flex justify-center items-center h-20 bg-zinc-500 text-white z-10 drop-shadow-lg">
            <img src="../static/img/ccs_logo.png" class="h-20 w-auto p-3">
            <h2 class="text-xl font-semibold">SIT-IN MONITORING SYSTEM</h2>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
<script>
    setTimeout(() => {
        const flashMessages = document.querySelectorAll('.flash');
        flashMessages.forEach(flash => {
            flash.style.display = 'none';
        });
    }, 3000);
</script>
</html>