{% extends 'index.html' %}
{% block content%}
    <div class="flex justify-center items-center p-3 h-220">
        <form class="bg-zinc-50 shadow-x1 flex flex-col w-4x1 p-2 text-x1 h-210 rounded-2xl" action="/register" method="POST">
            <label class="p-2">IDNO</label>
            <input type="text" name="idno" placeholder="School ID number '22641234'" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
            <label class="p-2">LAST NAME</label>
            <input type="text" name="lastname" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
            <label class="p-2">FIRST NAME</label>
            <input type="text" name="firstname" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
            <label class="p-2">MIDDLE NAME</label>
            <input type="text" id="middlename" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
            <label class="p-2">COURSE</label>
            <select name="course" name="course" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
                <option selected disabled>Select Course</option>
                <option value="bsit">Bachelor of Science in Information Technology</option>
                <option value="bscs">Bachelor of Science in Computer Studies</option>
                <option value="bsce">Bachelor of Science in Civil Engineering</option>
                <option value="bsba">Bachelor of Science in Business Ads</option>
                <option value="BSED">Bachelor of Science in Education</option>
            </select>
            <label class="p-2">YEAR LEVEL</label>
            <select name="yr_lvl" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
                <option selected disabled>Select Year Level</option>
                <option value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option>
            </select>
            <label class="p-2">EMAIL ADDRESS</label>
            <input type="text" name="email" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
            <label class="p-2">USERNAME</label>
            <input type="text" name="username" class="p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
            <label class="p-2">PASSWORD</label>
            <input type="password" name="password" class=" p-2 text-x1 h-15 w-175 border-black border-1 rounded-2xl">
            <button type="submit" class="cursor-pointer content-center h-15 w-30 p-2 bg-zinc-600 transition ease-in-out hover:bg-zinc-800 text-white self-center mt-5 rounded-3xl">Register</button>
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }} p-3 rounded-lg shadow-md bg-gray-200 text-gray-800">
                        <span>{{ message }}</span>
                        <!-- <button onclick="this.parentElement.style.display='none';">OK</button> -->
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script>
        setTimeout(function() {
        var flashContainer = document.getElementById('flash-container');
        if (flashContainer) {
            flashContainer.style.transition = "opacity 0.5s ease-out";
            flashContainer.style.opacity = "0";
            setTimeout(() => flashContainer.remove(), 500);
        }
    }, 3000);
    </script>
{% endblock %}